<h1>Articles listing page</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @article.each do |article| %>
      <tr>
        <td><%=article.title %></td>
        <td><%=article.description %></td>
        <td>Placeholder</td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>
table, th, td {
  border: 1px solid black;
}

table{
  width:100%;
  border-collapse: collapse;
}

th{
  background-color: #4CAF50;
  color: white;
}

td,th{
  padding: 8px;
}
</style>
